<div class="mt-32 flex flex-col items-center justify-center">
  <h1 class="text-3xl font-bold mb-8">
    AcornChat
  </h1>
  <p class="text-sm text-white bg-blue-500 py-2 px-8 rounded shadow">
    with tailwind
  </p>
</div>
